using Microsoft.EntityFrameworkCore;
using {{namespace}}.Models;

namespace {{namespace}}.Data;

public class ApplicationDbContext : DbContext
{
    public ApplicationDbContext(DbContextOptions<ApplicationDbContext> options)
        : base(options)
    {
    }

    // Add your DbSets here
    // public DbSet<YourEntity> YourEntities { get; set; }

    protected override void OnModelCreating(ModelBuilder modelBuilder)
    {
        base.OnModelCreating(modelBuilder);

        // Configure your entities here
        // modelBuilder.Entity<YourEntity>().ToTable("YourEntities");
    }
}
